* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.sfera iframe {
    width: 100%;
    min-height: 100vh;
}